.App {
 text-align: center;
}

.margin {
  margin: 100px;
  margin-top: 10px;
}

.box {
  display: inline-block;
  margin: 10px;
  border: 5px solid #eee;
  box-shadow: 200px;
  padding: 20px;
  margin: 15px;
}

.Person {
  width: 60%;
  margin: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}